h1{
    color:chocolate;
    font-size:50px;
    font-weight: 100;
    font-family:'HG行書体' ;
    text-align: center;
    background-color:floralwhite;
}
h2{
    color:aqua;
    font-size:20px;
    font-weight: 100;
    font-family:"Impact" ;
    text-align: center;
     background-color:darkgreen;
}
h3{
    color:blue;
    font-size:20px;
    font-weight: 100;
    font-family:serif ;
}
p{
   color:chocolate;
    font-size:15px;
    font-weight: 100;
    font-family:'ＭＳ ゴシック' ;
}
body{
    background-image: url(../images/kyuujou_02.jpg);
}

table{
     background-color:aqua;
   
}
    
ol{
     background-image: url(../images/tuti_01.jpg);
    color: fuchsia;
}

